.login-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.login-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0;
  input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}

.error-message {
  color: red;
  margin: 4px 0;
}

.error-message-db {
  color: red;
}

.submit-btn {
  max-width: 150px;
  padding: 8px 16px;
  margin-top: 22px;
  border: 1px solid #ccc;
  border-radius: 22px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: teal;
    color: white;
    border-color: teal;
  }
}
